{{ define "header" }}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ .Title }} | todolist.go</title>
    <link rel="stylesheet" href="/assets/style.css">
    <script type="text/javascript" src="/assets/script.js"></script>
</head>
<body>
    <p style="text-align:right">
        {{if .LoggedIn}}
        <a href="/user/{{ .UserID }}"><button type="button">マイページ</button></a>
        <a href="/logout"><button type="button">ログアウト</button></a></li>
        {{else}}
        <a href="/login"><button type="button">ログイン</button></a></li>
        {{end}}
    </p>
{{ end }}
