{{ template "header" . }}
<h1>User {{ .ID }}</h1>
<h2>パスワード変更</h2>
{{ if .Error }}
<p><font color="#FF0000">{{ .Error }}</font><p>
{{ end }}
<form action="/user/newpassword" method="POST">
    <label>現在のパスワード    : </label><input type="text" name="password_old" value="{{ .Password }}" required><br>
    <label>新パスワード       : </label><input type="text" name="password" value="{{ .NewPassword }}" required><br>
    <label>新パスワード(確認用): </label><input type="text" name="password_confirm" value="{{ .NewPassword }}" required><br>
    <input type="submit" value="登録">
</form>
{{ template "footer" }}